@tailwind base;

/* Firefox */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7439ea;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 1rem;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

/* @layer base{
    body{
        @apply bg-[#ffffff] text-gray-300;
    }
} */